{% extends 'layout.html' %}

{% block title %}

    Password

{% endblock %}

{% block main %}

    <h1>{{ msg[0] }}</h1>
    <p>{{ msg[1] }}</p>

    <hr>

    <form action="/password" method="post" class="mb-3">
        <input type="password" name="old" required placeholder="Password" class="form-control" id="exampleFormControlInput1">
        <br>
        <input type="password" name="new" required placeholder="New password" class="form-control" id="exampleFormControlInput1">
        <br>
        <input type="password" name="confirm" required placeholder="Confirmation" class="form-control" id="exampleFormControlInput1">
        <br>
        <button type="submit" class="btn btn-success">Accept</button>
    </form>

{% endblock %}